
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
    scroll-behavior: smooth;
}

html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #070026 0%, rgba(10, 87, 155, 0.87) 33.5%, rgba(0, 125, 234, 0.50) 52%, rgba(7, 91, 165, 0.78) 66%, #070026 100%);    
}


.navbar-one{
    padding: 0 30px;
    width: 100%;

}

.btn-menu{
    display: none;
}


.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar-one{
    color: transparent;
    color: white;
    height: 55px;
    cursor: pointer;
}
 
.slogan-title{
    font-size: 12px;
}

.slogan-title:hover{
    color: #ee256e;
    transition: all 0.5s;
}


.right a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    margin-left: 30px;
    color: white;
    font-weight:400;
    font-size: 25px;
}


.right > div a:hover{
    font-size: 30px;
    transition:all 0.2s;
}

.navbar-second{
    width: 100%;
    position: sticky;
    display: flex;
    text-align: center;
    padding: 0;
    justify-content: space-between;
    height: 128px;
    z-index: 3;
    color: transparent;
    margin-bottom: 50px;
}

.destaques{
    height: calc(100vh - 200px);
}

.navbar-second .item-esq{
    display: flex;
    

}

.navbar-second .title{
    color: #FFFF;
    display: flex;
    
    align-items: center;
    letter-spacing: 1px;
    display: none;
}


.icon img{
    width: 150px;
    display: flex;
    justify-items: center;
}


.navbar-second ol{
    display: flex;
    list-style: none;
    margin: auto 0;
    align-items: center;

        
}


.navbar-second ol li a {
    color: #FFFF;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 30px;
}

.navbar-second ol li:hover a{
    color: #ee256e;
    text-decoration: underline;
    transition: 0.5s;

}

.navbar-second .search-box{
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
    
    
}

.navbar-second .search-box input{
    border: none;
    outline: none;
    background: #FFFF;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;
    

}

.navbar-second .search-box span{
    color: #070026;
    font-size: 20px;
    background: #FFF;
    height: 100%;
    padding: 7px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.navbar-second .search-box span:hover{
    color: #FFF;
}

.navbar-second .search-box span::after{
    height: 100%;
    width: 0%;
    content: '';
    background: #F2508B;
    position: absolute;
    top: 0;
    right:  0;
    z-index: -1;
    transition: 0.3s;
}

.navbar-second .search-box span:hover::after{
    width: 100%;
}

.navbar-second .bar{
    position: relative;
    margin: auto;
    display: none;
    
}

.navbar-second .bar span{
    position: absolute;
    color: #FFF;
    font-size: 35px;

}

.btn-mobile{
    display: none;
}


.wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    height: 500px;

    
}

.slide-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column  ;
    overflow: hidden;
    
}

.slide-list{
    display: flex;
    z-index: 1;
    

}

.slide-item{
    flex-shrink:0;
    padding: 0 20px;
    width: 50vw;
    cursor: grab;
}

.slide-content{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    border-radius: 10px;
}


.slide-item img{
    width: 100%;
    border-radius: 10px;
}

.slide-description{
    color: #FFF;
    background: linear-gradient(to top, #000,transparent);
    padding: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
}

.slide-description h3{
    font-size: 30px;
    position: relative;
    
}

.slide-description p{
    font-size: 15px;
    padding: 5px 10px;
    
}


.slide-nav-button{
    color: #FFF;
    background-color: #07002667;
    border-radius: 50%;
    padding: .8rem 1.2rem;
    text-shadow: 0px 4px 3px #070026;
    font-size: 36px;
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

.slide-nav-button:hover{
    background-color: #070026af;
    transition: all 0.3s;
}

.slide-nav-previous{
    left: 20px;
    border: none;
}

.slide-nav-next{
    right: 20px;
    border: none;
}

.slide-controls{
    margin: 30px auto 0;
    
}

.slide-control-button{
    color: #ffffffbd;
    background: transparent;
    font-size: 12px;
    margin: 0 5px;
    border: none;
    
    
}

.slide-control-button.active{
    color: #ff2992;
   
}



.titulo-eventos{
    color: #FFF;
    text-shadow: 0px 4px 3px #070026;
    margin: 30px;
    margin-top: 20px;
    
}


.container{
    margin: 30px;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    
}

.card{
    overflow: hidden;
    border-radius: 16px;
    max-width: 300px;
    height: 300px;
    background-color: #FFF;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s;
    background-color: #070026;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}

.card:hover{
    background-color: #fff;
    color: #070026;
}


.card img{
background-position: center;
    background-size: cover;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    opacity: .8;

}

.card:hover img{
    opacity: 1;
    width: 100%;
}

.card .content{
    padding: 0 20px;
    overflow: hidden;
    text-align: center;
    height: 300px;
    
    
}



.card .content h1{
    font-size: 24px;
    color: #fff;
    margin-top: 10px;
}


.card:hover .content h1{
    color: #070026;
    transition: all 0.5s;
}



.card .content p{
    font-size: 14px;
    font-weight: 100;
    color: #FFF;
    opacity: .7;
    
}

.card:hover .content p{
    color: #070026;
    transition: all 0.5s;
}

.button-card{
    background: #FFF;
    border-radius: 20px;
    border: none;
    color: #070026;
    padding: 5px;
    width: 70%;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    margin-top: 50px;
    
}

.card:hover .button-card{
    background-color: #070026;
    color: #FFF;
}


.button-card:hover{
    opacity: .9;

}





footer {
    width: 100%;
    color: #fff;
    margin-top: 5rem;
    
}

.footer-link{
    text-decoration: none;
}


#footer_content{
    background-color: #070026;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5rem 2rem;
    height: 50%;
}

#footer_contacts img{
    width: 180px;
    
}

.footer-list h1{
    font-size: 25px;
}


#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
} 



#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #FFF;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: #ddd;
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #ff2992;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: #ddd
}

#input_group {
    display: flex;
    align-items: center;
    background-color: #ddd;
    color: #070026;
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #ff2992;
    border: none;
    color: white;
    padding: 0px 1.25rem;
    font-size: 1.5rem;
    height: 48px;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #070026;
    font-size: 0.9rem;
    padding: 1rem;
    font-weight: 100;
    border-top: 1px solid #333;
}

.back-top{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ff2992;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 0.8rem 1.2rem;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-out;

}

.back-top span{
    color:#FFF;
    font-size: 1.5rem;
    transition: 0.2s ease-out;

}

.back-top:hover{
    background-color: #F2508B;
}

.back-top:hover span{
    transform: translateY(-4px);
}

/*
scroll
*/

.efeito-card1,
.efeito-card2,
.efeito-card3,
.efeito-card4,
.efeito-card5,
.efeito-card6,
.efeito-card7,
.efeito-card8{
    visibility: hidden;
}

.efeito-content1,
.efeito-content2,
.efeito-content3,
.efeito-content4,
.efeito-content5,
.efeito-content6,
.efeito-content7,
.efeito-content8{
    visibility: hidden;
}

@media screen and (max-width : 1250px) {
    .navbar-second{
        display: block;
        padding: 0;
    }

    .navbar-second img{
        display: none;
    }

    .navbar-second .title{
        display: flex;
        
        
    }

    .navbar-second .search-box{
        width: 100%;
        margin-top: 15px;
        justify-content: center;
        margin-bottom: 20px;
        
    }

    .navbar-second .search-box input{
        width: 90%;
        background-color: #07002657;
        
        

    }

    .navbar-second .search-box span{
        background-color: #07002657;
        color: #070026;

    }

    .navbar-second .nav-list{
        display: block;
        flex-direction: column;
        background: #FFF;
        position: absolute;
        width: 100%;
        left: 0;
        top: 100px;
        height: 0;
        transition: 0.5s;
        visibility: hidden;
        overflow-y: hidden ;
        
        
    
    }


    .navbar-second ol li{
        text-align: center;
    }

    .navbar-second ol li a{
        color: #070026;
        background: #fff;
        font-size: 28px;
        padding: 25px;
        display: block;
        border-bottom: 2px solid rgba(0, 0, 0, .05 );
        
    }

    .navbar-second ol li a:hover{
        background: #070026;
        color: white;
        transition:all 0.5s;

    }
    .slogan-title{
        display: none;
        
    }
    .right{
        display: none;
    }
    
    .navbar-one{
        display: none;
    }

    .navbar-second .item-dir{
        display: flex;
    }

    .navbar-second .items{
        display: flex;
        justify-content: space-between;
        padding: 15px 30px;
    }


    #footer_content{
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        padding: 3rem 2rem;
        

    }
    .container{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .slide-description{
        padding: 10px;
    }

    .slide-description h3{
        font-size: 20px;
        top: 0;
    }

    .slide-description p{
        display: none;
    }

    .slide-controls{
        margin: 23px auto 10px
    }

    .slide-control-button{
        font-size: 13px;
    }

    .slide-nav-button{
        margin-top: -50px;
        font-size: 25px;
        
    }
    
    .slide-nav-previous{
       left: 15px;
    }
    
    .slide-nav-next{
        right: 15px;
    }

  

    .wrapper{
        height: 350px;
    }

    .btn-menu{
        background: none;
        border: none;
        font: inherit;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: #FFF;
        padding-block: 1rem;
        cursor: pointer;
    }

    

    .hamburger{
        border-top: 0.125rem solid;
        width: 1.25rem;
    }

    .navbar-second .icon{
        display: flex;
        
    }

    .hamburger::before,
    .hamburger::after{
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }

    .navbar-second.active .nav-list{
        height: calc(100vh - 100px);
        visibility: visible;
        overflow-y: auto;
    }

    .navbar-second.active .hamburger{
        border-top-color:transparent ;
    }

    .navbar-second.active .hamburger::before{
        transform: rotate(135deg);
    }

    .navbar-second.active .hamburger::after{
        transform: rotate(-135deg);
        top: -0.4375rem;
    }

}

@media screen and (max-width : 800px) {
    .slide-item{
        width: 100%;
    }

    .slide-item img{
        height: 300px
    }
    
    .destaques{
        height: 90%;
    }

    .navbar-second{
        margin-bottom: 0;
    }



}













